In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pickle
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
%matplotlib inline

In [4]:
file1 = open("../../data/features/2019_05_17_TSLA_y_08_yishuang.pickle",'rb')
tsla = pickle.load(file1, encoding='utf-8')

file2 = open("../../data/features/2019_05_17_all_features.pickle",'rb')
elon = pickle.load(file2, encoding='utf-8')

In [4]:
elon.columns

Index(['id', 'Datetime', 'text', 'sentiment', 'subjectivity', 'isreply',
       'year', 'month', 'day', 'date', 'DayofWeek', 'Weekend', 'Time',
       'BinaryTrading', 'DayDistance', 'gtrend', 'CommentSentimental',
       'CommentSubjectivity', 'countComment', 'posCommentSum', 'negCommentSum',
       'CommentSD', 'posCommentSD', 'negCommentSD', 'negCommentPercent',
       'posCommentPercent'],
      dtype='object')

In [6]:
tsla.columns

Index(['Hour2', 'Hour3', 'Hour4', 'Hour5', 'Hour6', 'Hour7', 'Date',
       'Daily_volume', 'Datetime', 'Hour_volume', 'Trading_Hour',
       'Roll_volume', 'Moving_average_5', 'Volume_perc', 'Perc_shift_7',
       'Perc_shift_14', 'Perc_shift_21', 'Perc_shift_28', 'Perc_shift_35',
       'Perc_shift_42', 'Perc_shift_49', 'AR_pred', 'Residual'],
      dtype='object')

In [7]:
# Add start and end datetime
tsla["Start_Datetime"] = tsla["Datetime"]
tsla['End_Datetime'] = tsla['Datetime'] + pd.DateOffset(hours=1)

In [8]:
tsla.head()

,Hour2,Hour3,Hour4,Hour5,Hour6,Hour7,Date,Daily_volume,Datetime,Hour_volume,...,Perc_shift_14,Perc_shift_21,Perc_shift_28,Perc_shift_35,Perc_shift_42,Perc_shift_49,AR_pred,Residual,Start_Datetime,End_Datetime
0,0,0,0,0,0,0,2016-06-06,2249500,2016-06-06 13:30:00+00:00,802995.0,...,0.191230,0.497019,0.129291,0.288979,0.333049,0.250512,0.180036,0.209508,2016-06-06 13:30:00+00:00,2016-06-06 14:30:00+00:00
1,1,0,0,0,0,0,2016-06-06,2249500,2016-06-06 14:30:00+00:00,279458.0,...,0.121435,0.274092,0.093569,0.162169,0.276517,0.241683,0.174876,-0.043552,2016-06-06 14:30:00+00:00,2016-06-06 15:30:00+00:00
2,0,1,0,0,0,0,2016-06-06,2249500,2016-06-06 15:30:00+00:00,292325.0,...,0.082991,0.140525,0.074788,0.078377,0.151645,0.095730,0.113209,0.018052,2016-06-06 15:30:00+00:00,2016-06-06 16:30:00+00:00
3,0,0,1,0,0,0,2016-06-06,2249500,2016-06-06 16:30:00+00:00,170419.0,...,0.086119,0.081911,0.066586,0.059976,0.075488,0.104234,0.087077,-0.012592,2016-06-06 16:30:00+00:00,2016-06-06 17:30:00+00:00
4,0,0,0,1,0,0,2016-06-06,2249500,2016-06-06 17:30:00+00:00,214303.0,...,0.091694,0.069936,0.078209,0.090399,0.085611,0.157451,0.097929,-0.006690,2016-06-06 17:30:00+00:00,2016-06-06 18:30:00+00:00

In [9]:
tsla["Start_Datetime"] = pd.to_datetime(tsla["Start_Datetime"], utc = True)
tsla["End_Datetime"] = pd.to_datetime(tsla["End_Datetime"], utc = True)
elon["Datetime"] = pd.to_datetime(elon["Datetime"], utc = True)

In [10]:
elon_new = elon[(elon['Datetime'] >= tsla.iloc[0]['Start_Datetime']) & (elon['Datetime'] <= tsla.iloc[-1]['End_Datetime'])]

In [11]:
elon_new.tail()

,id,Datetime,text,sentiment,subjectivity,isreply,keyword,year,month,day,...,CommentSentimental,CommentSubjectivity,countComment,posCommentSum,negCommentSum,CommentSD,posCommentSD,negCommentSD,negCommentPercent,posCommentPercent
4685,740723195431538689,2016-06-09 01:52:00+00:00,something about a flying metal suit...http://w...,0.000,0.000000,0,False,2016,6,9,...,16.864362,44.666755,181,21.462973,-4.598611,0.270031,0.290042,0.197206,0.121547,0.303867
4686,740540471081062401,2016-06-08 13:46:00+00:00,yes,0.000,0.000000,1,False,2016,6,8,...,19.660620,43.649106,179,21.525684,-1.865064,0.229870,0.236714,0.236278,0.055866,0.363128
4687,740387141591535616,2016-06-08 03:37:00+00:00,s and x cells are also panasonic,0.000,0.000000,1,False,2016,6,8,...,11.912356,27.576966,123,13.558189,-1.645833,0.238247,0.263092,0.270615,0.056911,0.333333
4688,740383850820296707,2016-06-08 03:24:00+00:00,would like to clarify that tesla is working ex...,0.000,0.000000,0,True,2016,6,8,...,11.134578,26.082522,117,12.780411,-1.645833,0.241406,0.269885,0.270615,0.059829,0.324786
4689,740296489532948480,2016-06-07 21:36:00+00:00,fourth rocket arrives in the hangar. aiming fo...,0.125,0.166667,0,False,2016,6,7,...,13.823846,26.797078,94,14.807179,-0.983333,0.233470,0.202021,0.097420,0.063830,0.446809

In [12]:
tweet_datetime = elon_new.iloc[0]['Datetime']
subset_df = tsla[tsla['End_Datetime']>tweet_datetime]
subset_df

,Hour2,Hour3,Hour4,Hour5,Hour6,Hour7,Date,Daily_volume,Datetime,Hour_volume,...,Perc_shift_14,Perc_shift_21,Perc_shift_28,Perc_shift_35,Perc_shift_42,Perc_shift_49,AR_pred,Residual,Start_Datetime,End_Datetime
4976,0,0,0,0,0,1,2019-04-02,5478900,2019-04-02 19:30:00+00:00,855794.0,...,0.165635,0.117097,0.110133,0.078929,0.087253,0.132812,0.123796,0.020216,2019-04-02 19:30:00+00:00,2019-04-02 20:30:00+00:00

In [13]:
# y_target: volume percentage
volume_percs = []
trading_hour = []

for i, row in elon_new.iterrows():

    tweet_datetime = row['Datetime']

    subset_df = tsla[tsla['End_Datetime']>tweet_datetime]
    # get hourly volume percentage of first row of subset df
    perc = subset_df.iloc[0]['Volume_perc']
    hour = subset_df.iloc[0]['Trading_Hour']
    
    # append to list
    volume_percs.append(perc)
    trading_hour.append(int(hour))

elon_new['Volume_perc'] = pd.Series(volume_percs)
elon_new['Trading_Hour'] = pd.Series(trading_hour)

In [14]:
elon_new.head()

,id,Datetime,text,sentiment,subjectivity,isreply,keyword,year,month,day,...,countComment,posCommentSum,negCommentSum,CommentSD,posCommentSD,negCommentSD,negCommentPercent,posCommentPercent,Volume_perc,Trading_Hour
162,1113173498384441344,2019-04-02 20:16:00+00:00,dogecoin rulzpic.twitter.com/flwwugaglu,0.00,0.0000,0,False,2019,4,2,...,757,65.808511,-9.349753,0.215552,0.252742,0.181753,0.059445,0.229855,0.307817,1.0
163,1113164389929160706,2019-04-02 19:40:00+00:00,uh oh,0.00,0.0000,1,False,2019,4,2,...,125,11.632089,-1.938889,0.219263,0.242682,0.245950,0.064000,0.288000,0.307817,1.0
164,1113009339743100929,2019-04-02 09:24:00+00:00,dogecoin might be my fav cryptocurrency. it’s ...,0.15,0.4125,1,False,2019,4,2,...,29,3.081250,-0.454167,0.198969,0.178780,0.142542,0.103448,0.344828,0.307817,1.0
165,1113008497006804992,2019-04-02 09:21:00+00:00,yuphttps://twitter.com/nasa/status/11128601960...,0.00,0.0000,0,False,2019,4,2,...,243,20.762614,-5.672222,0.222568,0.223982,0.190050,0.065844,0.234568,0.307817,1.0
166,1113000800526036992,2019-04-02 08:50:00+00:00,some challenges with ice formation in the cryo...,0.00,0.0000,1,False,2019,4,2,...,76,3.768669,-2.215972,0.179058,0.229078,0.171248,0.144737,0.184211,0.307817,1.0

In [15]:
elon_new.groupby('Trading_Hour')['Trading_Hour'].count()

Trading_Hour
1.0    3316
2.0     122
3.0     137
4.0     204
5.0     214
6.0     212
7.0     161
Name: Trading_Hour, dtype: int64

In [16]:
tsla.head()

,Hour2,Hour3,Hour4,Hour5,Hour6,Hour7,Date,Daily_volume,Datetime,Hour_volume,...,Perc_shift_14,Perc_shift_21,Perc_shift_28,Perc_shift_35,Perc_shift_42,Perc_shift_49,AR_pred,Residual,Start_Datetime,End_Datetime
0,0,0,0,0,0,0,2016-06-06,2249500,2016-06-06 13:30:00+00:00,802995.0,...,0.191230,0.497019,0.129291,0.288979,0.333049,0.250512,0.180036,0.209508,2016-06-06 13:30:00+00:00,2016-06-06 14:30:00+00:00
1,1,0,0,0,0,0,2016-06-06,2249500,2016-06-06 14:30:00+00:00,279458.0,...,0.121435,0.274092,0.093569,0.162169,0.276517,0.241683,0.174876,-0.043552,2016-06-06 14:30:00+00:00,2016-06-06 15:30:00+00:00
2,0,1,0,0,0,0,2016-06-06,2249500,2016-06-06 15:30:00+00:00,292325.0,...,0.082991,0.140525,0.074788,0.078377,0.151645,0.095730,0.113209,0.018052,2016-06-06 15:30:00+00:00,2016-06-06 16:30:00+00:00
3,0,0,1,0,0,0,2016-06-06,2249500,2016-06-06 16:30:00+00:00,170419.0,...,0.086119,0.081911,0.066586,0.059976,0.075488,0.104234,0.087077,-0.012592,2016-06-06 16:30:00+00:00,2016-06-06 17:30:00+00:00
4,0,0,0,1,0,0,2016-06-06,2249500,2016-06-06 17:30:00+00:00,214303.0,...,0.091694,0.069936,0.078209,0.090399,0.085611,0.157451,0.097929,-0.006690,2016-06-06 17:30:00+00:00,2016-06-06 18:30:00+00:00

In [17]:
# adding AR-y
ar_y = []

for i, row in elon_new.iterrows():

    tweet_datetime = row['Datetime']
    
    subset_df = tsla[tsla['End_Datetime']>tweet_datetime]
    # get hourly residual of first row of subset df
    y = subset_df.iloc[0]['AR_pred']
    

    # append to list
    ar_y.append(y)

elon_new['AR_pred'] = pd.Series(ar_y)

In [18]:
elon_new

,id,Datetime,text,sentiment,subjectivity,isreply,keyword,year,month,day,...,posCommentSum,negCommentSum,CommentSD,posCommentSD,negCommentSD,negCommentPercent,posCommentPercent,Volume_perc,Trading_Hour,AR_pred
162,1113173498384441344,2019-04-02 20:16:00+00:00,dogecoin rulzpic.twitter.com/flwwugaglu,0.000000,0.000000,0,False,2019,4,2,...,65.808511,-9.349753,0.215552,0.252742,1.817530e-01,0.059445,0.229855,0.307817,1.0,0.225384
163,1113164389929160706,2019-04-02 19:40:00+00:00,uh oh,0.000000,0.000000,1,False,2019,4,2,...,11.632089,-1.938889,0.219263,0.242682,2.459504e-01,0.064000,0.288000,0.307817,1.0,0.225384
164,1113009339743100929,2019-04-02 09:24:00+00:00,dogecoin might be my fav cryptocurrency. it’s ...,0.150000,0.412500,1,False,2019,4,2,...,3.081250,-0.454167,0.198969,0.178780,1.425422e-01,0.103448,0.344828,0.307817,1.0,0.225384
165,1113008497006804992,2019-04-02 09:21:00+00:00,yuphttps://twitter.com/nasa/status/11128601960...,0.000000,0.000000,0,False,2019,4,2,...,20.762614,-5.672222,0.222568,0.223982,1.900499e-01,0.065844,0.234568,0.307817,1.0,0.225384
166,1113000800526036992,2019-04-02 08:50:00+00:00,some challenges with ice formation in the cryo...,0.000000,0.000000,1,False,2019,4,2,...,3.768669,-2.215972,0.179058,0.229078,1.712479e-01,0.144737,0.184211,0.307817,1.0,0.225384
167,1112999601332641792,2019-04-02 08:45:00+00:00,what could possibly go wrong?,-0.500000,0.900000,1,False,2019,4,2,...,3.606764,-2.215972,0.179502,0.236255,1.712479e-01,0.146667,0.173333,0.307817,1.0,0.225384
168,1112882387963195393,2019-04-02 01:00:00+00:00,no,0.000000,0.000000,1,False,2019,4,2,...,12.547262,-5.050643,0.233543,0.221653,2.030256e-01,0.133333,0.213333,0.307817,1.0,0.225384
169,1112848471877283841,2019-04-01 22:45:00+00:00,you’re so right. working on it!,0.142857,0.267857,1,False,2019,4,1,...,2.571549,-1.487500,0.210355,0.148577,2.640431e-01,0.138889,0.277778,0.307817,1.0,0.225384
170,1112847351595466753,2019-04-01 22:40:00+00:00,that car seemed so advanced when i watched tha...,0.250000,0.300000,1,True,2019,4,1,...,5.412311,0.000000,0.292040,0.265866,0.000000e+00,0.000000,0.480000,0.307817,1.0,0.225384
171,1112840482856480768,2019-04-01 22:13:00+00:00,and even tinier ones for tardigrades,0.000000,0.000000,1,False,2019,4,1,...,20.759905,-4.820757,0.225421,0.240173,1.228506e-01,0.136585,0.312195,0.307817,1.0,0.225384
172,1112840159505014785,2019-04-01 22:12:00+00:00,yes,0.000000,0.000000,1,False,2019,4,1,...,20.584905,-4.720757,0.226085,0.241346,1.243584e-01,0.133005,0.310345,0.307817,1.0,0.225384
173,1112839897218310144,2019-04-01 22:11:00+00:00,"going forward, all tesla stores will be tiny &...",0.000000,0.500000,1,True,2019,4,1,...,20.584905,-4.033257,0.223683,0.241346,1.187632e-01,0.125000,0.315000,0.307817,1.0,0.225384
174,1112801660483452928,2019-04-01 19:39:00+00:00,"meant to say young, but spelled it wrong",-0.200000,0.650000,1,False,2019,4,1,...,8.268712,-1.790625,0.186363,0.172765,1.900215e-01,0.072917,0.333333,0.307817,1.0,0.225384
175,1112798119509450752,2019-04-01 19:25:00+00:00,ironic stan,0.200000,0.900000,1,False,2019,4,1,...,7.018712,-1.762500,0.180337,0.165906,1.767325e-01,0.068182,0.329545,0.263361,1.0,0.234082
176,1112797823634800641,2019-04-01 19:24:00+00:00,"if can do this, what can’t they do!?",0.000000,0.000000,1,False,2019,4,1,...,14.153889,-2.434722,0.233483,0.206610,1.590424e-01,0.082707,0.248120,0.263361,1.0,0.234082
177,1112795858846662656,2019-04-01 19:16:00+00:00,"solid work by keen, as usual",-0.125000,0.175000,1,False,2019,4,1,...,6.772879,-1.562500,0.181488,0.166891,1.908042e-01,0.059524,0.321429,0.263361,1.0,0.234082
178,1112776420969742336,2019-04-01 17:59:00+00:00,norway https://twitter.com/elbilforeningen/sta...,0.000000,0.000000,0,False,2019,4,1,...,38.902489,-5.606111,0.240086,0.227041,1.907913e-01,0.073016,0.346032,0.263361,1.0,0.234082
179,1112563782356594690,2019-04-01 03:54:00+00:00,yes,0.000000,0.000000,1,False,2019,4,1,...,0.540278,-0.600000,0.223410,0.148853,0.000000e+00,0.090909,0.363636,0.263361,1.0,0.234082
180,1112556285046644736,2019-04-01 03:24:00+00:00,yes,0.000000,0.000000,1,False,2019,4,1,...,1.079167,-0.400000,0.175296,0.242968,0.000000e+00,0.045455,0.136364,0.263361,1.0,0.234082
181,1112540492145651712,2019-04-01 02:21:00+00:00,seems fair,0.700000,0.900000,1,False,2019,4,1,...,3.853571,-1.813889,0.292794,0.252402,1.998760e-01,0.212121,0.272727,0.263361,1.0,0.234082
182,1112530378915405824,2019-04-01 01:41:00+00:00,some people use their hair to express themselv...,0.000000,0.000000,1,False,2019,4,1,...,68.992332,-14.406627,0.244930,0.241832,2.300413e-01,0.089314,0.312600,0.263361,1.0,0.234082
183,1112530173893578752,2019-04-01 01:40:00+00:00,. @ theonion,0.000000,0.000000,0,False,2019,4,1,...,68.732332,-14.406627,0.245304,0.241999,2.300413e-01,0.089600,0.310400,0.263361,1.0,0.234082
184,1112528684387164160,2019-04-01 01:34:00+00:00,making the onion articles real …https://www.ro...,0.200000,0.300000,0,False,2019,4,1,...,66.982332,-14.235198,0.245492,0.241770,2.318547e-01,0.088525,0.311475,0.263361,1.0,0.234082
185,1112427303013736448,2019-03-31 18:51:00+00:00,@ yungjake & @ bloodpop,0.000000,0.000000,0,False,2019,3,31,...,173.621189,-77.427441,0.252982,0.246411,2.291437e-01,0.121429,0.240816,0.263361,1.0,0.234082
186,1112409761520087040,2019-03-31 17:42:00+00:00,duck emoji ftw,0.000000,0.000000,0,False,2019,3,31,...,434.281981,-148.304446,0.203898,0.247386,2.058049e-01,0.069493,0.173951,0.263361,1.0,0.234082
187,1112408580026597376,2019-03-31 17:37:00+00:00,final edit was on ableton,0.000000,1.000000,1,False,2019,3,31,...,156.511435,-71.746489,0.253920,0.245147,2.304198e-01,0.125142,0.242356,0.263361,1.0,0.234082
188,1112408082817007616,2019-03-31 17:35:00+00:00,surprisingly difficult to address false positi...,-0.225000,0.400000,1,False,2019,3,31,...,1.539583,-0.966667,0.222781,0.143290,1.794475e-01,0.294118,0.352941,0.263361,1.0,0.234082
189,1112404814690836482,2019-03-31 17:22:00+00:00,jungpic.twitter.com/pdr4ji4lpu,0.000000,0.000000,1,False,2019,3,31,...,8.292242,-2.025000,0.267802,0.276020,1.419605e-01,0.085714,0.314286,0.263361,1.0,0.234082
190,1112123741574586368,2019-03-30 22:45:00+00:00,we’ve been so mired in production & logistics ...,-0.025000,0.225000,0,True,2019,3,30,...,181.046184,-36.849299,0.244820,0.238605,2.243173e-01,0.092355,0.304587,0.263361,1.0,0.234082
191,1112106548363292672,2019-03-30 21:37:00+00:00,tesla semi delivering tesla carspic.twitter.co...,0.000000,0.000000,0,True,2019,3,30,...,115.902111,-21.898603,0.253292,0.242533,2.403786e-01,0.081162,0.301603,0.263361,1.0,0.234082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4660,743603466631733248,2016-06-17 00:37:00+00:00,"as mentioned at the beginning of the year, i'm...",0.150000,0.000000,0,False,2016,6,17,...,20.849653,-1.700000,0.294641,0.281429,2.111019e-01,0.081818,0.509091,NaN,NaN,NaN
4661,743602894226653184,2016-06-17 00:35:00+00:00,looks like early liquid oxygen depletion cause...,0.050000,0.200000,0,False,2016,6,17,...,23.089856,-4.159507,0.261004,0.262009,1.790990e-01,0.147929,0.467456,NaN,NaN,NaN
4662,743602229307805696,2016-06-17 00:32:00+00:00,turns out the landing was not as fast we thoug...,0.021667,0.428333,0,False,2016,6,17,...,11.678813,-3.756638,0.253673,0.208473,1.934310e-01,0.141414,0.343434,NaN,NaN,NaN
4663,743600755739754497,2016-06-17 00:26:00+00:00,thanks tyler,0.200000,0.200000,1,False,2016,6,17,...,1.200000,-0.400000,0.194079,0.234521,1.962616e-17,0.125000,0.250000,NaN,NaN,NaN
4664,743102502225076227,2016-06-15 15:26:00+00:00,landing video will be posted when we gain acce...,0.166667,0.166667,0,False,2016,6,15,...,18.817224,-3.807374,0.266699,0.209088,1.354977e-01,0.181818,0.509091,NaN,NaN,NaN
4665,743099301174247424,2016-06-15 15:14:00+00:00,upgrades underway to enable rocket to compensa...,0.000000,0.000000,0,False,2016,6,15,...,20.678792,-1.555828,0.274633,0.267479,5.929908e-02,0.094828,0.482759,NaN,NaN,NaN
4666,743098357728444418,2016-06-15 15:10:00+00:00,quite rapid... yes,0.000000,0.000000,1,False,2016,6,15,...,0.100000,0.000000,0.070711,0.000000,0.000000e+00,0.000000,0.500000,NaN,NaN,NaN
4667,743097668725940225,2016-06-15 15:07:00+00:00,rud = rapid unscheduled disassembly :),0.500000,1.000000,0,False,2016,6,15,...,34.217727,-6.173264,0.335279,0.265339,2.330854e-01,0.126582,0.537975,NaN,NaN,NaN
4668,743097337782763521,2016-06-15 15:06:00+00:00,looks like thrust was low on 1 of 3 landing en...,0.065000,0.510000,0,False,2016,6,15,...,12.376427,-1.518056,0.236374,0.196584,2.407881e-01,0.098765,0.518519,NaN,NaN,NaN
4669,743096769001578498,2016-06-15 15:04:00+00:00,"ascent phase & satellites look good, but boost...",0.700000,0.600000,0,False,2016,6,15,...,17.262083,-6.458144,0.294431,0.244258,2.291093e-01,0.167939,0.351145,NaN,NaN,NaN
4670,742120520678703105,2016-06-12 22:24:00+00:00,highly recommend anything by sean carrollhttps...,0.160000,0.540000,0,True,2016,6,12,...,5.281458,-0.258333,0.260117,0.219455,1.355288e-01,0.086957,0.652174,NaN,NaN,NaN
4671,742117913788719104,2016-06-12 22:14:00+00:00,am concerned that advanced life may be inheren...,0.300000,0.500000,1,False,2016,6,12,...,3.366667,-0.906250,0.237251,0.253362,1.760867e-01,0.187500,0.406250,NaN,NaN,NaN
4672,742117250799280128,2016-06-12 22:11:00+00:00,"life you can talk to is another matter, of cou...",0.104167,0.258333,1,False,2016,6,12,...,3.366667,-0.906250,0.237251,0.253362,1.760867e-01,0.187500,0.406250,NaN,NaN,NaN
4673,742116619481014272,2016-06-12 22:09:00+00:00,no way. look at chemotrophs and extremophiles....,-0.160000,0.360000,1,False,2016,6,12,...,3.366667,-0.906250,0.237251,0.253362,1.760867e-01,0.187500,0.406250,NaN,NaN,NaN
4674,742115725477744640,2016-06-12 22:05:00+00:00,hence the urgency of making life as we know it...,0.000000,1.000000,1,False,2016,6,12,...,14.152286,-5.130476,0.206096,0.187183,1.623189e-01,0.200000,0.380645,NaN,NaN,NaN
4675,742108893459800065,2016-06-12 21:38:00+00:00,"that, speed of light constraint and quantum me...",0.400000,0.700000,1,False,2016,6,12,...,12.771036,-4.880476,0.208341,0.189966,1.671266e-01,0.197183,0.373239,NaN,NaN,NaN
4676,742108297122054147,2016-06-12 21:36:00+00:00,"and, no, i'm not an alien...but i used to be one",0.000000,0.000000,0,False,2016,6,12,...,18.777258,-6.838636,0.215403,0.210799,1.125606e-01,0.181373,0.303922,NaN,NaN,NaN
4677,742107564733661186,2016-06-12 21:33:00+00:00,latest science predicts > trillion alien civil...,0.050000,0.529167,0,False,2016,6,12,...,12.396320,-4.280476,0.202419,0.193403,1.475720e-01,0.194245,0.366906,NaN,NaN,NaN
4678,741442624611966976,2016-06-11 01:31:00+00:00,"yeah, that matches what we've found so far. mo...",0.175000,0.875000,1,False,2016,6,11,...,26.658084,-34.339130,0.262878,0.209855,2.569217e-01,0.250591,0.262411,NaN,NaN,NaN
4679,741412152288808960,2016-06-10 23:30:00+00:00,would seem to indicate that one or more people...,0.025000,0.275000,1,False,2016,6,10,...,20.366236,-24.723627,0.267781,0.228775,2.692975e-01,0.221184,0.249221,NaN,NaN,NaN
4680,741411531582115841,2016-06-10 23:27:00+00:00,of greater concern: 37 of 40 suspension compla...,0.050000,0.550000,0,False,2016,6,10,...,19.732903,-24.723627,0.268172,0.231490,2.692975e-01,0.223975,0.246057,NaN,NaN,NaN
4681,741410425787404288,2016-06-10 23:23:00+00:00,nhtsa confirmed today that they found no safet...,0.200000,0.750000,0,True,2016,6,10,...,9.891896,-0.988889,0.297564,0.249481,1.764709e-01,0.088889,0.577778,NaN,NaN,NaN
4682,741341906999771136,2016-06-10 18:50:00+00:00,that is correct. it was about innovation.,0.000000,0.000000,1,False,2016,6,10,...,0.250000,0.000000,0.102062,0.000000,0.000000e+00,0.000000,0.166667,NaN,NaN,NaN
4683,741315106370244609,2016-06-10 17:04:00+00:00,nice comment about the model s by cvk on @ top...,0.600000,1.000000,0,True,2016,6,10,...,4.375000,-0.150000,0.287819,0.234299,0.000000e+00,0.052632,0.526316,NaN,NaN,NaN
4684,740728719065665536,2016-06-09 02:14:00+00:00,no,0.000000,0.000000,1,False,2016,6,9,...,23.260630,-4.718611,0.267710,0.285061,1.935639e-01,0.118557,0.309278,NaN,NaN,NaN
4685,740723195431538689,2016-06-09 01:52:00+00:00,something about a flying metal suit...http://w...,0.000000,0.000000,0,False,2016,6,9,...,21.462973,-4.598611,0.270031,0.290042,1.972058e-01,0.121547,0.303867,NaN,NaN,NaN
4686,740540471081062401,2016-06-08 13:46:00+00:00,yes,0.000000,0.000000,1,False,2016,6,8,...,21.525684,-1.865064,0.229870,0.236714,2.362776e-01,0.055866,0.363128,NaN,NaN,NaN
4687,740387141591535616,2016-06-08 03:37:00+00:00,s and x cells are also panasonic,0.000000,0.000000,1,False,2016,6,8,...,13.558189,-1.645833,0.238247,0.263092,2.706154e-01,0.056911,0.333333,NaN,NaN,NaN
4688,740383850820296707,2016-06-08 03:24:00+00:00,would like to clarify that tesla is working ex...,0.000000,0.000000,0,True,2016,6,8,...,12.780411,-1.645833,0.241406,0.269885,2.706154e-01,0.059829,0.324786,NaN,NaN,NaN
4689,740296489532948480,2016-06-07 21:36:00+00:00,fourth rocket arrives in the hangar. aiming fo...,0.125000,0.166667,0,False,2016,6,7,...,14.807179,-0.983333,0.233470,0.202021,9.742043e-02,0.063830,0.446809,NaN,NaN,NaN

In [19]:
elon_new.dropna(inplace = True)

In [21]:
with open('../../data/2019_05_17_ar_pred.pickle', 'wb') as handle:
        pickle.dump(elon_new, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [22]:
# y_target 2: volume residual
residuals = []

for i, row in elon_new.iterrows():

    tweet_datetime = row['Datetime']
    
    subset_df = tsla[tsla['End_Datetime']>tweet_datetime]
    # get hourly residual of first row of subset df
    residual = subset_df.iloc[0]['Residual']
    

    # append to list
    residuals.append(residual)

elon_new['Residual'] = pd.Series(residuals)

In [ ]:
with open('../../data/features/2019_05_17_features_finally.pickle', 'wb') as handle:
        pickle.dump(elon_new, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [20]:
# rolling average volume percentage
roll_vol_perc = []

for i, row in elon_new.iterrows():

    tweet_datetime = row['Datetime']

    subset_df = tsla[tsla['End_Datetime']>tweet_datetime]
    # get hourly volume of first row of subset df
    vol_perc = subset_df.iloc[0]['Rolling_perc_volume']
 
    # append to list
    roll_vol_perc.append(vol_perc)

elon_new['Rolling_volume_perc'] = pd.Series(roll_vol_perc)

KeyError: 'Rolling_perc_volume'

In [21]:
# rolling average volume 
roll_vol = []

for i, row in elon_new.iterrows():

    tweet_datetime = row['Datetime']

    subset_df = tsla[tsla['End_Datetime']>tweet_datetime]
    # get hourly volume of first row of subset df
    vol = subset_df.iloc[0]['Rolling_volume']
 
    # append to list
    roll_vol.append(vol)

elon_new['Rolling_volume'] = pd.Series(roll_vol)

KeyError: 'Rolling_volume'

In [ ]:
# y_target 1: volume
volumes = []

for i, row in elon_new.iterrows():

    tweet_datetime = row['Datetime']

    subset_df = tsla[tsla['End_Datetime']>tweet_datetime]
    # get hourly volume of first row of subset df
    volume = subset_df.iloc[0]['Volume']
 
    # append to list
    volumes.append(volume)

elon_new['That_hour_volume'] = pd.Series(volumes)

In [ ]:
# y_target 2: volume percentage
volume_percs = []

for i, row in elon_new.iterrows():

    tweet_datetime = row['Datetime']

    subset_df = tsla[tsla['End_Datetime']>tweet_datetime]
    # get hourly volume percentage of first row of subset df
    perc = subset_df.iloc[0]['Percentage_Volume']

    # append to list
    volume_percs.append(perc)

elon_new['That_hour_volume_perc'] = pd.Series(volume_percs)

In [ ]:
# y_target 3: volume percentage residual
residual_perc = []

for i, row in elon_new.iterrows():

    tweet_datetime = row['Datetime']
    
    subset_df = tsla[tsla['End_Datetime']>tweet_datetime]
    # get hourly residual of first row of subset df
    residual = subset_df.iloc[0]['Res_Perc_vol']
    

    # append to list
    residual_perc.append(residual)

elon_new['That_hour_res_vol_perc'] = pd.Series(residual_perc)

In [ ]:
# y_target 4: volume residual
residuals = []

for i, row in elon_new.iterrows():

    tweet_datetime = row['Datetime']
    
    subset_df = tsla[tsla['End_Datetime']>tweet_datetime]
    # get hourly residual of first row of subset df
    residual = subset_df.iloc[0]['Res_vol']
    

    # append to list
    residuals.append(residual)

elon_new['That_hour_res_vol'] = pd.Series(residuals)

In [ ]:
elon_new.drop(['Datetime_after_1h'], axis = 1, inplace = True)

In [ ]:
elon_new.head(10)

In [ ]:
# y_target 5: volume in 2 hours
volumes = []

for i, row in elon_new.iterrows():

    tweet_datetime = row['Datetime']

    subset_df = tsla[tsla['End_Datetime']>tweet_datetime]
    # get hourly volume of first row and second row of subset df, then take average
    volume = (subset_df.iloc[0]['Volume'] + subset_df.iloc[1]['Volume'])/2
 
    # append to list
    volumes.append(volume)

elon_new['Volume_in_2h'] = pd.Series(volumes)

In [ ]:
# y_target 6: volume percentage in 2 hours
volume_percs = []

for i, row in elon_new.iterrows():

    tweet_datetime = row['Datetime']

    subset_df = tsla[tsla['End_Datetime']>tweet_datetime]
    # get hourly volume percentage of first row and second row of subset df, then take average
    perc = (subset_df.iloc[0]['Percentage_Volume'] + subset_df.iloc[1]['Percentage_Volume'])/2

    # append to list
    volume_percs.append(perc)

elon_new['Volume_perc_in_2h'] = pd.Series(volume_percs)

In [ ]:
# y_target 7: volume percentage residual in 2 hours
residual_perc = []

for i, row in elon_new.iterrows():

    tweet_datetime = row['Datetime']
    
    subset_df = tsla[tsla['End_Datetime']>tweet_datetime]
    # get hourly residual of first row and second row of subset df and take average
    residual = (subset_df.iloc[0]['Res_Perc_vol'] + subset_df.iloc[0]['Res_Perc_vol'])/2

    # append to list
    residual_perc.append(residual)

elon_new['Res_vol_perc_in_2h'] = pd.Series(residual_perc)

In [ ]:
# y_target 8: volume residual in 2 hours
residuals = []

for i, row in elon_new.iterrows():

    tweet_datetime = row['Datetime']
    
    subset_df = tsla[tsla['End_Datetime']>tweet_datetime]
    # get hourly residual of first row and second row of subset df and take average
    residual = (subset_df.iloc[0]['Res_vol'] + subset_df.iloc[0]['Res_vol'])/2
    

    # append to list
    residuals.append(residual)

elon_new['Res_vol_in_2h'] = pd.Series(residuals)

In [ ]:
elon_new.head()

In [ ]:
with open('../../data/features/2019_04_30_features_with_8y.pickle', 'wb') as handle:
        pickle.dump(elon_new, handle, protocol=pickle.HIGHEST_PROTOCOL)